.navbar {
  overflow: hidden;
  background-color: #169873;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: #533745;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Montserrat;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: :#533745;
  padding: 14px 16px;
  background-color: inherit;
  font-family: Montserrat;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #9EBD6E;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9EBD6E;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #533745;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body{
  background-color: #D1BCE3;
}
h3{
  color:#533745;
  font-size: 100%;
    font-family: "Montserrat";
}
h1{
  color:#533745;
  font-size: 300%;
    font-family: "Montserrat";
}
p{ color:#533745;
  font-size: 100%;
    font-family: "Montserrat";
}
img{
  width:50%;
    height:auto;
  
}
