navbar {
  list-style-type: none;
  overflow: hidden;
  width: 100vw;
  background-color: white;
  left: 0;
  right: 0;
  margin: 0;
}

.navbar{
  display: inline;
  float: right;
  padding: 11px;
}

.navbar a{
  text-decoration: none;
  color: brown;
}

.navbar a:hover {
  background-color: #AC8C6D;
  color: black;
}

body{
  background-color: #D1BCE3;
}
h3{
  color:#533745;
  font-size: 100%;
    font-family: "Montserrat";
}
h1{
  color:#533745;
  font-size: 300%;
    font-family: "Montserrat";
}
p{ color:#533745;
  font-size: 100%;
    font-family: "Montserrat";
}
img{
  width:50%;
    height:auto;
  
}

