body{
  background-color: #D2ACD8;
}

.navbar {
  overflow: hidden;
  background-color: #9F86C0;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: #BE95C4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Papyrus;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color:  #BE95C4;
  padding: 14px 16px;
  background-color: inherit;
  font-family: Papyrus;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #F3D1E4;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F3D1E4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #BE95C4;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.griddi {
  display: grid;
  grid-template-columns:auto;
  background-color: #9B489B;
  padding: 10px;
}
.gridboi {
  background-color: #F2BAC9;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  font-family: Papyrus;
  color: #9B489B;
}


